<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Livres</title>
</head>
<body>
    <h1>Liste des Livres</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre</th>
                <th>Année de Publication</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td><a th:href="@{/books/{id}(id=${book.id})}">Détails</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/books/add">Ajouter un Livre</a>
</body>
</html>
